.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 3rem;
    margin-bottom: 1rem;
}

.todo-item__check {
    background-color: var(--secondary-light-color);
    border: solid 0.1rem var(--primary-light-color);
    color: var(--primary-light-font-color);
}

.todo-item__text {
    width: 100%;
    background-color: var(--secondary-light-color);
    display: flex;
    align-items: center;
    min-height: 3rem;
    border-radius: 1rem;
    padding: 1rem 0;
    padding-left: 1rem;
    margin: 0 0.5rem;
}

.todo-item__delete {
    background-color: var(--danger-color);
    color: white;
    font-size: 2.3rem;
    box-shadow: 0px 2px 5px 0px var(--danger-color);
    transition-property: transform;
    transition-duration: 200ms;
    transition-timing-function: ease-in;
}

.todo-item__delete:hover {
    transform: scale(1.1);
}

.todo-item__check,
.todo-item__delete {
    width: 2.8rem;
    height: 2.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.6rem;
}

.todo-item__check:hover,
.todo-item__delete:hover {
    cursor: pointer;
}

@media (min-width: 768px) {
    .todo-item {
        font-size: var(--tertiary-font-size__dk);
        min-height: 5rem;
    }

    .todo-item__check {
        border: solid 0.2rem var(--primary-light-color);
    }

    .todo-item__text {
        min-height: 5rem;
        border-radius: 1.5rem;
    }

    .todo-item__delete {
        font-size: 3rem;
    }

    .todo-item__check,
    .todo-item__delete {
        width: 4.8rem;
        height: 4.8rem;
        border-radius: 1rem;
    }
}