.light-mode {
    width: 6rem;
    height: 2.5rem;
    background-color: var(--primary-light-color);
    border-radius: 2rem;
    box-shadow: inset 5px 5px 8px -2px #000000, 0px 3px 4px 0px #000000;
    position: relative;
}

.light-mode:hover {
    cursor: pointer;
}

.light-mode__toggle {
    font-size: 1.8rem;
    position: absolute;
    top: 0.3rem;
    left: 0.2rem;
    user-select: none;
}