:root {
  /* FONT */
  --font-family: 'Manrope', sans-serif;

  --primary-font-size__mb: 4.7rem;
  --primary-font-size__dk: 8rem;
  --secondary-font-size__mb: 1.7rem;
  --secondary-font-size__dk: 2rem;
  --tertiary-font-size__mb: 1.5rem;
  --tertiary-font-size__dk: 1.7rem;

  --primary-light-font-color: #646366;
  --secondary-light-font-color: #050505;

  --primary-dark-font-color: #7e8083;
  --secondary-dark-font-color: #f8f9fb;

  /* BACKGROUND */
  --primary-light-color: #1e76ea;
  --secondary-light-color: #e5e6eb;
  --tertiary-light-color: #ffffff;

  --primary-dark-color: #050505;
  --secondary-dark-color: #242527;
  --tertiary-dark-color: #333436;

  /* MISCELANEOUS */
  --danger-color: #eb2d45;
  --info-color: #1e76ea;
  --success-color: #28a745;
}

/* RESET CSS */

html {
  font-size: 62.5%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/* STYLES */
body {
  background-color: #000000;
}